In [2]:
import pandas as pd

In [8]:
? pd.merge()

In [4]:
# Cadastro da Loja A
cadastro_a = {
    'Id': ['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
    'Nome': ['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
    'Idade': [20,35,40,54,30,27],
    'CEP': ['00092-029', '11111-111', '22222-888', '00000-999', '88888-999', '77777-66']
    }
cadastro_a = pd.DataFrame(cadastro_a, columns=['Id','Nome', 'Idade', 'CEP'])
cadastro_a

       Id     Nome  Idade        CEP
0  AA2930   Victor     20  00092-029
1  BB4563   Amanda     35  11111-111
2  CC2139    Bruna     40  22222-888
3  DE2521   Carlos     54  00000-999
4  GT3462  Ricardo     30  88888-999
5  HH1158    Maria     27   77777-66

In [5]:
# Cadastro da Loja B
cadastro_b = {
    'Id': ['CC9999', 'EF4488', 'DD9999', 'GT3462', 'HH1158'],
    'Nome': ['Marcos', 'Patrícia', 'Ericka', 'Ricardo', 'Maria'],
    'Idade': [19,30,22,30,27],
    'CEP': ['00092-029', '11111-111', '11111-888', '88888-111', '77777-66']
    }
cadastro_b = pd.DataFrame(cadastro_b, columns=['Id','Nome', 'Idade', 'CEP'])
cadastro_b

       Id      Nome  Idade        CEP
0  CC9999    Marcos     19  00092-029
1  EF4488  Patrícia     30  11111-111
2  DD9999    Ericka     22  11111-888
3  GT3462   Ricardo     30  88888-111
4  HH1158     Maria     27   77777-66

In [6]:
# Registro de Compras de todas unidades
compras = {
    'Id': ['AA2930', 'EF4488', 'CC2139', 'EF4488', 'CC9999', 'AA2930', 'HH1158', 'HH1158'],
    'Data': ['2019-01-01', '2019-01-30', '2019-01-30', '2019-02-01', '2019-02-20', '2019-03-15', '2019-04-01', '2019-04-10'],
    'Valor': [200,100,40,150,300,25,50,500]
}
compras = pd.DataFrame(compras, columns=['Id', 'Data', 'Valor'])
compras

       Id        Data  Valor
0  AA2930  2019-01-01    200
1  EF4488  2019-01-30    100
2  CC2139  2019-01-30     40
3  EF4488  2019-02-01    150
4  CC9999  2019-02-20    300
5  AA2930  2019-03-15     25
6  HH1158  2019-04-01     50
7  HH1158  2019-04-10    500

In [7]:
# pd.merge(tabela_da_esquerda, tabela_da_direita, on="coluna_coincidente", how="left|right|inner|outer")

In [9]:
pd.merge(cadastro_a, cadastro_b, on=['Id'], how="inner")

       Id   Nome_x  Idade_x      CEP_x   Nome_y  Idade_y      CEP_y
0  GT3462  Ricardo       30  88888-999  Ricardo       30  88888-111
1  HH1158    Maria       27   77777-66    Maria       27   77777-66

In [10]:
pd.merge(cadastro_a, cadastro_b[['Id','Idade', 'CEP']], on=['Id'], how="inner")

       Id     Nome  Idade_x      CEP_x  Idade_y      CEP_y
0  GT3462  Ricardo       30  88888-999       30  88888-111
1  HH1158    Maria       27   77777-66       27   77777-66

In [11]:
pd.merge(cadastro_a, cadastro_b[['Id','Idade', 'CEP']], on=['Id'], how="inner", suffixes=('_A', '_B'))

       Id     Nome  Idade_A      CEP_A  Idade_B      CEP_B
0  GT3462  Ricardo       30  88888-999       30  88888-111
1  HH1158    Maria       27   77777-66       27   77777-66

In [15]:
lojas = pd.concat([cadastro_a,cadastro_b], ignore_index=True)
lojas

        Id      Nome  Idade        CEP
0   AA2930    Victor     20  00092-029
1   BB4563    Amanda     35  11111-111
2   CC2139     Bruna     40  22222-888
3   DE2521    Carlos     54  00000-999
4   GT3462   Ricardo     30  88888-999
5   HH1158     Maria     27   77777-66
6   CC9999    Marcos     19  00092-029
7   EF4488  Patrícia     30  11111-111
8   DD9999    Ericka     22  11111-888
9   GT3462   Ricardo     30  88888-111
10  HH1158     Maria     27   77777-66

In [18]:
clientes_unicos = lojas.drop_duplicates(subset="Id")
clientes_unicos

       Id      Nome  Idade        CEP
0  AA2930    Victor     20  00092-029
1  BB4563    Amanda     35  11111-111
2  CC2139     Bruna     40  22222-888
3  DE2521    Carlos     54  00000-999
4  GT3462   Ricardo     30  88888-999
5  HH1158     Maria     27   77777-66
6  CC9999    Marcos     19  00092-029
7  EF4488  Patrícia     30  11111-111
8  DD9999    Ericka     22  11111-888

In [20]:
# Left Join
esquerda = pd.merge(cadastro_a, compras, how='left', on=['Id'])
esquerda

       Id     Nome  Idade        CEP        Data  Valor
0  AA2930   Victor     20  00092-029  2019-01-01  200.0
1  AA2930   Victor     20  00092-029  2019-03-15   25.0
2  BB4563   Amanda     35  11111-111         NaN    NaN
3  CC2139    Bruna     40  22222-888  2019-01-30   40.0
4  DE2521   Carlos     54  00000-999         NaN    NaN
5  GT3462  Ricardo     30  88888-999         NaN    NaN
6  HH1158    Maria     27   77777-66  2019-04-01   50.0
7  HH1158    Maria     27   77777-66  2019-04-10  500.0

In [23]:
# Agrupar e somar
esquerda.groupby(['Id', 'Nome'])['Valor'].sum()

Id      Nome
AA2930  Victor     225.0
BB4563  Amanda       0.0
CC2139  Bruna       40.0
DE2521  Carlos       0.0
GT3462  Ricardo      0.0
HH1158  Maria      550.0
Name: Valor, dtype: float64

In [27]:
# Outer
pd.merge(cadastro_a, cadastro_b, how="outer", on=["Id"], indicator=True)

,Id,Nome_x,Idade_x,CEP_x,Nome_y,Idade_y,CEP_y,_merge
0,AA2930,Victor,20.0,00092-029,NaN,NaN,NaN,left_only
1,BB4563,Amanda,35.0,11111-111,NaN,NaN,NaN,left_only
2,CC2139,Bruna,40.0,22222-888,NaN,NaN,NaN,left_only
3,DE2521,Carlos,54.0,00000-999,NaN,NaN,NaN,left_only
4,GT3462,Ricardo,30.0,88888-999,Ricardo,30.0,88888-111,both
5,HH1158,Maria,27.0,77777-66,Maria,27.0,77777-66,both
6,CC9999,NaN,NaN,NaN,Marcos,19.0,00092-029,right_only
7,EF4488,NaN,NaN,NaN,Patrícia,30.0,11111-111,right_only
8,DD9999,NaN,NaN,NaN,Ericka,22.0,11111-888,right_only